body{
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Cormorant Garamond', serif;
    display: grid;
    justify-content: center;
}

.center1, .center2{
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.center2{
    padding-left: 25px;
}

.indhold{
    display: grid;
    margin-top: 10px;
    padding-top: 10px;
}
.velkommen, .velkommen3, .tilgang, .tilgang3, .filosofien, .undervisning,
.coaching, .NLP, .NLP3, .opbygning, .opbygning3, .modul, .modul3,
.eksamen, .info, .info3, .sted, .pris, .pris3, .brutto, .stotte, .betingelse,
.tilmeld, .kontakt{
    display: flex;
    flex-direction: row;
    max-width: 940px;
}

.velkommen2, .tilgang2, .filosofien2, .coaching2, .NLP2, .opbygning2, .modul2,
.eksamen2, .info2, .sted2, .pris2, .pris4, .brutto2, .tilmeld2{
    display: flex;
    flex-direction: row-reverse;
    max-width: 940px;
}

/*menu*/
nav{
    background-color: #666;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-family: 'Cormorant Garamond', serif;
    max-width: 940px;
}

nav a{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
}

nav img{
    margin: 10px;
}

nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    padding-left: 10;
    padding-right: 0;
}
nav ul li {
    position: relative;
    padding-right: 2em;
}

.dropdown > ul {
    display: none;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 1em;
}

.dropdown > ul li {
    white-space: nowrap;
    padding: 0 2em;
}

.dropdown:hover > ul {
    display: block;
}

/*footer*/

footer img {
    max-width: 40px;
    margin: 20px 5px;
}

footer{
    background-color: #666;
    text-align: center;
    color: white;
    max-width: 940px;
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
}

footer a{
    color: white;
    text-decoration: none;    
    font-family: 'Cormorant Garamond', serif;
}

/*burgermenu*/
.burger{
   
    cursor: pointer;
    border: none;
    justify-self: end;
    float: right;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



li {
    padding: 1px;
    cursor: pointer;
}


.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}


nav {
    max-height: 0px;
    overflow: hidden;
    transition:  0.6s;
    background: #666;
    color: #fff;
}



nav.show {
    max-height: 500px;
}


/* Rotate first bar */

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* responsivnes */

@media screen and (max-width:768px) {
    .velkommen, .velkommen3, .tilgang, .tilgang3, .filosofien, .undervisning,
    .coaching, .NLP, .NLP3, .opbygning, .opbygning3, .modul, .modul3, .eksamen,
    .info, .info3, .sted, .pris, .pris3, .brutto, .stotte, .betingelse, .tilmeld,
    .kontakt{
        display: block;
    }
    .velkommen2, .tilgang2, .filosofien2, .coaching2, .NLP2, .opbygning2, .modul2,
    .eksamen, .info2, .sted2, .pris2, .pris4, .brutto2, .tilmeld2{
        display: block;
    }
    header img {
        display: none;
    }
    .center2{
        padding: 0px;
    }
}

@media screen and (min-width:768px) {
    .burger {
        display: none;
    }

    nav {
        max-height: 200px;
    }

    li {
        display: inline-block;
        text-decoration: none;
    }
   
}
